.wrap {
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .toolbar {
  display: none !important;
} */

/* #sidebarContainer {
  position:absolute;
  top: 8px;
}

#viewerContainer {
  top: 0;
} */

@media print {
  .pdf-toolbar {
    display: none;
  }
}
